Final Project/Final Project copy/simpleUI.json
[
    {
        "id": "f058c266385d9292",
        "type": "tab",
        "label": "Default",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f8d9011437532c00",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "083f1afa4ce2cf43",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#0aa1a9",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#459816",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#0aa1a9",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0aa1a9",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#0fe5f1",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0aa1a9",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "07eef90da55e496b",
        "type": "ui_group",
        "name": "Date & Time",
        "tab": "7123909012aebb18",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7123909012aebb18",
        "type": "ui_tab",
        "name": "Home",
        "icon": "home",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a135e995c3c8958a",
        "type": "ui_tab",
        "name": "History",
        "icon": "history",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0dcf93e283988909",
        "type": "ui_group",
        "name": "Notice",
        "tab": "a135e995c3c8958a",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e11dd4ca3a4d5219",
        "type": "ui_group",
        "name": "Login",
        "tab": "fa9a59f5781d8fb8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fa9a59f5781d8fb8",
        "type": "ui_tab",
        "name": "Login",
        "icon": "User",
        "order": 3,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "36a5a318ca25ed59",
        "type": "mongodb-aleph-config",
        "hostname": "cluster0.ekekt04.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "HomeProtector-HP2077",
        "name": "HomeProtector-HP2077"
    },
    {
        "id": "1aef72ecae593983",
        "type": "mqtt-broker",
        "name": "Info",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3aa77bd49ec7882d",
        "type": "ui_spacer",
        "z": "f058c266385d9292",
        "name": "spacer",
        "group": "07eef90da55e496b",
        "order": 5,
        "width": 10,
        "height": 1
    },
    {
        "id": "b23e72809fd96219",
        "type": "ui_spacer",
        "z": "f058c266385d9292",
        "name": "spacer",
        "group": "07eef90da55e496b",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "546328411763ca3b",
        "type": "ui_spacer",
        "z": "f058c266385d9292",
        "name": "spacer",
        "group": "07eef90da55e496b",
        "order": 10,
        "width": 15,
        "height": 1
    },
    {
        "id": "faf4533854764611",
        "type": "ui_spacer",
        "z": "f058c266385d9292",
        "name": "spacer",
        "group": "07eef90da55e496b",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "cc92d6877b109860",
        "type": "ui_spacer",
        "z": "f058c266385d9292",
        "name": "spacer",
        "group": "07eef90da55e496b",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "2b1247d3a16d962a",
        "type": "ui_spacer",
        "z": "f058c266385d9292",
        "name": "spacer",
        "group": "07eef90da55e496b",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "2d91404090e30326",
        "type": "ui_spacer",
        "z": "f058c266385d9292",
        "name": "spacer",
        "group": "07eef90da55e496b",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "88342db54f8042d3",
        "type": "ui_spacer",
        "z": "f058c266385d9292",
        "name": "spacer",
        "group": "07eef90da55e496b",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "d611947d597d9a84",
        "type": "ui_spacer",
        "z": "f058c266385d9292",
        "name": "spacer",
        "group": "07eef90da55e496b",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "fcde933d134eed73",
        "type": "ui_text",
        "z": "f058c266385d9292",
        "group": "07eef90da55e496b",
        "order": 7,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Temparture",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 500,
        "wires": []
    },
    {
        "id": "71d49010c5e0e22a",
        "type": "ui_text",
        "z": "f058c266385d9292",
        "group": "07eef90da55e496b",
        "order": 9,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 680,
        "wires": []
    },
    {
        "id": "d57cf237aea4c62b",
        "type": "ui_button",
        "z": "f058c266385d9292",
        "name": "",
        "group": "07eef90da55e496b",
        "order": 6,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Update",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "update",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 560,
        "y": 260,
        "wires": [
            [
                "b72eb25c3d29278c"
            ]
        ]
    },
    {
        "id": "5869a432bc414dc2",
        "type": "function",
        "z": "f058c266385d9292",
        "name": "setDate",
        "func": "flow.set('Date', msg.payload);\nvar date=new Date(msg.payload);\nvar weekday=date.getDay();\nlet d=date.toDateString();\nlet month=date.getMonth();\nlet a=d.split(\" \");\nvar temp= weekday + \"|\" + a[2] + \"|\" + month + \"|\" +a[3];\nflow.set('date',temp);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "71bcb6152a91c815",
        "type": "function",
        "z": "f058c266385d9292",
        "name": "setHour",
        "func": "flow.set('Hour', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d4d5c92f401e35e8",
        "type": "ui_gauge",
        "z": "f058c266385d9292",
        "name": "",
        "group": "07eef90da55e496b",
        "order": 11,
        "width": 7,
        "height": 5,
        "gtype": "gage",
        "title": "Temparature",
        "label": "units",
        "format": "{{value}}",
        "min": "-50",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 830,
        "y": 560,
        "wires": []
    },
    {
        "id": "79e9e7b97b4e0c26",
        "type": "ui_gauge",
        "z": "f058c266385d9292",
        "name": "",
        "group": "07eef90da55e496b",
        "order": 13,
        "width": 7,
        "height": 5,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 820,
        "y": 760,
        "wires": []
    },
    {
        "id": "b785b39c4fbc5982",
        "type": "ui_form",
        "z": "f058c266385d9292",
        "name": "",
        "label": "",
        "group": "e11dd4ca3a4d5219",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 70,
        "y": 100,
        "wires": [
            [
                "8c69357d588b4e5e",
                "ff38c2d1b4ccb4f2"
            ]
        ]
    },
    {
        "id": "aeb45a35ff2354ce",
        "type": "switch",
        "z": "f058c266385d9292",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 100,
        "wires": [
            [
                "987587cc1587d863"
            ],
            [
                "40df60d47b566538"
            ]
        ]
    },
    {
        "id": "8c69357d588b4e5e",
        "type": "function",
        "z": "f058c266385d9292",
        "name": "validateAccount",
        "func": "const username = flow.get('username');\nconst password = flow.get('password');\nif (msg.payload.username == username &&\n    msg.payload.password == password){\n    msg.payload=1;\n}\nelse{\n    msg.payload=0;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 100,
        "wires": [
            [
                "aeb45a35ff2354ce"
            ]
        ]
    },
    {
        "id": "455fdeb627229b49",
        "type": "ui_ui_control",
        "z": "f058c266385d9292",
        "name": "",
        "events": "all",
        "x": 940,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "60d860a0d9c74b9b",
        "type": "ui_toast",
        "z": "f058c266385d9292",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "msg.payload",
        "topic": "",
        "name": "",
        "x": 910,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "987587cc1587d863",
        "type": "function",
        "z": "f058c266385d9292",
        "name": "LoginFailed",
        "func": "msg.payload=\"Username or password is not correct\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 60,
        "wires": [
            [
                "60d860a0d9c74b9b"
            ]
        ]
    },
    {
        "id": "40df60d47b566538",
        "type": "function",
        "z": "f058c266385d9292",
        "name": "LoginSuccess",
        "func": "msg.payload={\n    \"tab\":\"Home\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 140,
        "wires": [
            [
                "455fdeb627229b49"
            ]
        ]
    },
    {
        "id": "b8b02c500f036943",
        "type": "function",
        "z": "f058c266385d9292",
        "name": "directToHistory",
        "func": "msg.payload={\n    \"tab\":\"History\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 940,
        "wires": [
            [
                "0d11a9444747486e"
            ]
        ]
    },
    {
        "id": "986c0386d9323a99",
        "type": "ui_button",
        "z": "f058c266385d9292",
        "name": "",
        "group": "07eef90da55e496b",
        "order": 19,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "History",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "history",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 940,
        "wires": [
            [
                "b8b02c500f036943"
            ]
        ]
    },
    {
        "id": "0d11a9444747486e",
        "type": "ui_ui_control",
        "z": "f058c266385d9292",
        "name": "",
        "events": "all",
        "x": 460,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "13fe053494364e0e",
        "type": "function",
        "z": "f058c266385d9292",
        "name": "directToHome",
        "func": "msg.payload={\n    \"tab\":\"Home\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1320,
        "wires": [
            [
                "7d4fa987e13fcde7"
            ]
        ]
    },
    {
        "id": "acc92d8911cb99bb",
        "type": "ui_button",
        "z": "f058c266385d9292",
        "name": "",
        "group": "0dcf93e283988909",
        "order": 2,
        "width": 10,
        "height": 1,
        "passthru": false,
        "label": "Home",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "home",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 1320,
        "wires": [
            [
                "13fe053494364e0e"
            ]
        ]
    },
    {
        "id": "7d4fa987e13fcde7",
        "type": "ui_ui_control",
        "z": "f058c266385d9292",
        "name": "",
        "events": "all",
        "x": 500,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "ff38c2d1b4ccb4f2",
        "type": "mongodb-aleph-in",
        "z": "f058c266385d9292",
        "mongodb": "36a5a318ca25ed59",
        "name": "Auth",
        "collection": "Auth",
        "operation": "find",
        "x": 190,
        "y": 20,
        "wires": [
            [
                "31b6feaa972186ed",
                "72f3a470ce02b206"
            ]
        ]
    },
    {
        "id": "39c2c916054b6eef",
        "type": "debug",
        "z": "f058c266385d9292",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 20,
        "wires": []
    },
    {
        "id": "31b6feaa972186ed",
        "type": "function",
        "z": "f058c266385d9292",
        "name": "function 2",
        "func": "flow.set(\"username\", msg.payload[0].username);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 20,
        "wires": [
            [
                "39c2c916054b6eef"
            ]
        ]
    },
    {
        "id": "72f3a470ce02b206",
        "type": "function",
        "z": "f058c266385d9292",
        "name": "function 3",
        "func": "flow.set(\"password\", msg.payload[0].password);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 60,
        "wires": [
            [
                "39c2c916054b6eef"
            ]
        ]
    },
    {
        "id": "cc9dc787a69c2b15",
        "type": "mqtt in",
        "z": "f058c266385d9292",
        "name": "",
        "topic": "VL4IT20CLC04OUT/INFO",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1aef72ecae593983",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 640,
        "wires": [
            [
                "6ad7233ade300d89"
            ]
        ]
    },
    {
        "id": "6ad7233ade300d89",
        "type": "function",
        "z": "f058c266385d9292",
        "name": "getInfo",
        "func": "const info=msg.payload.split('|');\nflow.set('temp',info[0]);\nflow.set('humidity',info[1]);\nvar msg={};\nvar msg1={};\nmsg.payload = info[0];\nmsg.topic ='Temparature(°C)'\nmsg1.payload=info[1];\nmsg1.topic='Humidity(%)'\nreturn [[msg, msg1]];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 640,
        "wires": [
            [
                "68c557d02096abd5",
                "ea1350c0d30c9bd6",
                "2d91210d5108e4d3"
            ]
        ]
    },
    {
        "id": "68c557d02096abd5",
        "type": "function",
        "z": "f058c266385d9292",
        "name": "setHumidity",
        "func": "msg.payload=flow.get('humidity');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 700,
        "wires": [
            [
                "71d49010c5e0e22a",
                "79e9e7b97b4e0c26"
            ]
        ]
    },
    {
        "id": "ea1350c0d30c9bd6",
        "type": "function",
        "z": "f058c266385d9292",
        "name": "setTemparature",
        "func": "msg.payload=flow.get('temp');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 580,
        "wires": [
            [
                "fcde933d134eed73",
                "d4d5c92f401e35e8"
            ]
        ]
    },
    {
        "id": "2d91210d5108e4d3",
        "type": "ui_chart",
        "z": "f058c266385d9292",
        "name": "",
        "group": "07eef90da55e496b",
        "order": 18,
        "width": 0,
        "height": 0,
        "label": "Temparature & Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d52728",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "ba8acae648429cba",
        "type": "mqtt in",
        "z": "f058c266385d9292",
        "name": "",
        "topic": "VL4IT20CLC04OUT/ALERT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1aef72ecae593983",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 1160,
        "wires": [
            [
                "5f77c67310725ea8"
            ]
        ]
    },
    {
        "id": "5f77c67310725ea8",
        "type": "function",
        "z": "f058c266385d9292",
        "name": "getAlert",
        "func": "\nconst alert=msg.payload.split('|');\nlet i=0\nvar history = flow.get('history') || [];\n\nfor(i;i<alert.length;i++){\n    if(alert[i]==' '){\n        alert.splice(i,1);\n    }\n    else{\n        \n        history.push({\n                payload: alert[i]\n            })\n    }\n}\n\nwhile(history.length>20){\n    history.shift();\n}\nflow.set('history', history);\nmsg={};\nmsg.payload=history;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1160,
        "wires": [
            [
                "843be4ef050197f3"
            ]
        ]
    },
    {
        "id": "843be4ef050197f3",
        "type": "ui_template",
        "z": "f058c266385d9292",
        "group": "0dcf93e283988909",
        "name": "",
        "order": 1,
        "width": 20,
        "height": 11,
        "format": "<style>\n    table {\n    --accent-color: #362f4b;\n    --text-color: slategray;\n    --bgColorDarker: #ececec;\n    --bgColorLighter: #fcfcfc;\n    --insideBorderColor: lightgray;\n    width: 100%;\n    margin: 0;\n    padding: 0;\n    border: 1px solid var(--accent-color);\n    border-collapse: collapse;\n    color: var(--text-color);\n    table-layout: fixed;\n    }\n    \n    table caption {\n    margin: 1rem 0;\n    color: slategray;\n    font-size: 1.5rem;\n    font-weight: 600;\n    letter-spacing: 0.055rem;\n    text-align: center;\n    }\n    \n    table thead tr {\n    color: whitesmoke;\n    background-color: var(--accent-color);\n    font-size: 1rem;\n    }\n    \n    table tbody tr {\n    border: 1px solid var(--insideBorderColor);\n    background-color: var(--bgColorDarker);\n    }\n    \n    table tbody tr:nth-child(odd) {\n    background-color: var(--bgColorLighter);\n    }\n    \n    table th {\n    letter-spacing: 0.075rem;\n    }\n    \n    table th,\n    table td {\n    padding: 0.75rem 1rem;\n    font-weight: normal;\n    text-align: left;\n    }\n    \n    table th:nth-child(4),\n    table td:nth-child(4) {\n    text-align: right;\n    }\n    \n    @media screen and (max-width: 768px) {\n    table {\n    border: none;\n    }\n    \n    table caption {\n    padding: 0.75rem 1rem;\n    border-radius: 6px 6px 0 0;\n    color: whitesmoke;\n    font-size: 1.35rem;\n    background-color: var(--accent-color);\n    }\n    \n    table thead {\n    position: absolute;\n    width: 1px;\n    height: 1px;\n    clip: rect(0 0 0 0);\n    overflow: hidden;\n    }\n    \n    table tbody tr {\n    margin-bottom: 2rem;\n    display: block;\n    }\n    \n    table td {\n    font-size: 0.875rem;\n    text-align: right;\n    display: block;\n    }\n    \n    table td:before {\n    content: attr(data-label);\n    font-size: 0.75rem;\n    font-weight: 600;\n    letter-spacing: 0.075rem;\n    text-transform: uppercase;\n    float: left;\n    opacity: 0.5;\n    }\n    \n    table td:not(:last-child) {\n    border-bottom: 1px solid var(--insideBorderColor);\n    }\n    }\n </style>   \n<table>\n    <thead>\n        <tr>\n            <th scope=\"col\">Alert</th>\n            <th scope=\"col\">Date</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr ng-repeat=\"x in msg.payload\">\n            <td scope=\"col\">{{x.payload}}</td>\n            <td></td>\n        </tr>\n    </tbody>\n</table>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 620,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "88231bb07c075e1b",
        "type": "ui_button",
        "z": "f058c266385d9292",
        "name": "",
        "group": "0dcf93e283988909",
        "order": 3,
        "width": 10,
        "height": 1,
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "clear",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 1240,
        "wires": [
            [
                "6e421e448d139a17"
            ]
        ]
    },
    {
        "id": "6e421e448d139a17",
        "type": "function",
        "z": "f058c266385d9292",
        "name": "function 5",
        "func": "flow.set('history',[]);\nmsg={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1240,
        "wires": [
            [
                "843be4ef050197f3"
            ]
        ]
    },
    {
        "id": "2798b90a4b9efe4d",
        "type": "function",
        "z": "f058c266385d9292",
        "name": "setMin",
        "func": "flow.set('Min',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "b72eb25c3d29278c",
        "type": "function",
        "z": "f058c266385d9292",
        "name": "function 6",
        "func": "let sec=0;\nlet min=flow.get('Min');\nlet h=flow.get('Hour');\nlet ampm = flow.get('ampm');\nlet date=flow.get('date');\nmsg.payload = date + \"|\" + h + \"|\" + min + \"|\" + sec + \"|\" +ampm;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 260,
        "wires": [
            [
                "197a3a788a688fa9",
                "6bbe324ccee1323c"
            ]
        ]
    },
    {
        "id": "b55b2b017000a171",
        "type": "ui_numeric",
        "z": "f058c266385d9292",
        "name": "",
        "label": "Hour",
        "tooltip": "",
        "group": "07eef90da55e496b",
        "order": 2,
        "width": 5,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "1",
        "max": "12",
        "step": 1,
        "className": "",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "71bcb6152a91c815"
            ]
        ]
    },
    {
        "id": "6ec2c5964c0631db",
        "type": "ui_numeric",
        "z": "f058c266385d9292",
        "name": "",
        "label": "Min",
        "tooltip": "",
        "group": "07eef90da55e496b",
        "order": 3,
        "width": 5,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0",
        "max": "60",
        "step": 1,
        "className": "",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "2798b90a4b9efe4d"
            ]
        ]
    },
    {
        "id": "6564b5407fbaa8f0",
        "type": "ui_date_picker",
        "z": "f058c266385d9292",
        "name": "",
        "label": "date",
        "group": "07eef90da55e496b",
        "order": 1,
        "width": 15,
        "height": 1,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "5869a432bc414dc2"
            ]
        ]
    },
    {
        "id": "0d9125a16f73a155",
        "type": "ui_dropdown",
        "z": "f058c266385d9292",
        "name": "",
        "label": "AM/PM",
        "tooltip": "",
        "place": "Select option",
        "group": "07eef90da55e496b",
        "order": 4,
        "width": 5,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "AM",
                "value": "AM",
                "type": "str"
            },
            {
                "label": "PM",
                "value": "PM",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 100,
        "y": 380,
        "wires": [
            [
                "f9aafbdd36df77cf"
            ]
        ]
    },
    {
        "id": "f9aafbdd36df77cf",
        "type": "function",
        "z": "f058c266385d9292",
        "name": "setAM/PM",
        "func": "flow.set('ampm',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "197a3a788a688fa9",
        "type": "debug",
        "z": "f058c266385d9292",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "6bbe324ccee1323c",
        "type": "mqtt out",
        "z": "f058c266385d9292",
        "name": "",
        "topic": "VL4IT20CLC04IN/DAT",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1aef72ecae593983",
        "x": 900,
        "y": 340,
        "wires": []
    },
    {
        "id": "e7370eb94ee716bf",
        "type": "ui_button",
        "z": "f058c266385d9292",
        "name": "",
        "group": "07eef90da55e496b",
        "order": 21,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "Buzzer",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 820,
        "wires": [
            []
        ]
    }
]