Quiz 6/Quiz06-IOTCLC02/20127533.json
[
    {
        "id": "54796435e66ae609",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cdabe5230e32a6d0",
        "type": "ui_text_input",
        "z": "54796435e66ae609",
        "name": "",
        "label": "Student ID:",
        "tooltip": "Input student id here",
        "group": "c305d1d903c2ab94",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 410,
        "y": 280,
        "wires": [
            [
                "2e1dc224fb04711a"
            ]
        ]
    },
    {
        "id": "0bd6c49c1c80a498",
        "type": "ui_template",
        "z": "54796435e66ae609",
        "group": "c305d1d903c2ab94",
        "name": "CSS",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .nr-dashboard-cardtitle{\n        text-align: center;\n        color: white !important;\n    }\n    .nr-dashboard-text{\n        justify-content: center;\n    }\n    .findBtn button{\n        width: 20% !important;\n        position: absolute !important;\n        right: 10px !important;\n    }\n    .md-input{\n        height: 40px !important\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 390,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a38db367e10be099",
        "type": "ui_button",
        "z": "54796435e66ae609",
        "name": "",
        "group": "c305d1d903c2ab94",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Find student",
        "tooltip": "",
        "color": "black",
        "bgcolor": "",
        "className": "findBtn",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 340,
        "wires": [
            [
                "9c3a8e2c15590298"
            ]
        ]
    },
    {
        "id": "6c550d798864da6a",
        "type": "ui_text",
        "z": "54796435e66ae609",
        "group": "c305d1d903c2ab94",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Name of this student: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "result",
        "x": 720,
        "y": 400,
        "wires": []
    },
    {
        "id": "2e1dc224fb04711a",
        "type": "function",
        "z": "54796435e66ae609",
        "name": "onMessage",
        "func": "flow.set(\"studentId\", msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "9c3a8e2c15590298",
        "type": "function",
        "z": "54796435e66ae609",
        "name": "onClick",
        "func": "msg.payload = flow.get(\"studentId\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 340,
        "wires": [
            [
                "b7927a47bbfa2a37"
            ]
        ]
    },
    {
        "id": "b7927a47bbfa2a37",
        "type": "mqtt out",
        "z": "54796435e66ae609",
        "name": "",
        "topic": "20127533/studentIn",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f6f4ae733711c733",
        "x": 800,
        "y": 340,
        "wires": []
    },
    {
        "id": "e50f3fbdc6e1a237",
        "type": "mqtt in",
        "z": "54796435e66ae609",
        "name": "",
        "topic": "20127533/studentOut",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f6f4ae733711c733",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 400,
        "wires": [
            [
                "6c550d798864da6a"
            ]
        ]
    },
    {
        "id": "c305d1d903c2ab94",
        "type": "ui_group",
        "name": "Student Information",
        "tab": "3e02f97a07564146",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f6f4ae733711c733",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3e02f97a07564146",
        "type": "ui_tab",
        "name": "Home",
        "icon": "home",
        "disabled": false,
        "hidden": false
    }
]